.header-main {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-position: 0%;
  background-size: 100% 800px;
  background-repeat: no-repeat;
  background-image: url(../assets/images/sala-vinho.jpeg);
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 80%;
}

/* Div com os textos no topo */
#firstsegment {
  align-items: center;
  text-align: center;
  color: white;
  height: 30%;
  width: 100%;
}

/* Textos do topo */
/* #firstsegtext {
  
} */

/* h2 com o name */
.header-name {
  margin-bottom: 0px;
}

/* h3 com a profissao */
.header-work {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Div com a imagem e descricao */
#secondsegment {
  align-items: center;
  display: flex;
  height: 70%;
  width: 100%;
}

/* Foto de perfil */
.header-logo {
  margin: 0px 0px 5px 100px;
  border-radius: 45%;
  height: 90%;
}

.header-description {
  color: white;
  margin-left: 80px;
  width: 50%;
}

.header-img-description {
  border-radius: 5%;
  width: 45%;
}
